.about-content {
  display: flex;
  width: 25rem;
  flex-direction: column;
}

.about-content p {
  margin-top: -0.5rem;
  font-weight: 400;
  color: #d9d9d9;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 13rem;
}

.copyright {
  opacity: 80%;
  margin-top: 0.2rem !important;
}
